/* 소스명 : Ask.css */
/* 작성자: 강수진 */
/* 이 페이지 용도 : 공지사항 css페이지 */
/* 생성일자(수정일자) : 
  - 23.10.16: 생성_강수진 */


/* .ASK{
    float: center;
    align-items: center;
    justify-content: center;
} */
.notice{
    display: flex;
    float: center;
    align-items: center;
    justify-content: center;
    width: 40%;
    background-color: #ffffff;
    height: 15%;
}

/*위쪽 버튼들 */

.notice input{
    display: none;
}
.notice label {
    display: inline-block; /* 라벨을 인라인 블록으로 설정(탭을 가로로 배치) */
    margin: 0 0; /* 라벨의 바깥 여백을 없앰 */
    padding: 15px 25px; /* 라벨의 안쪽 여백을 설정 */
    color: #000000; /* 라벨의 글자 색상 */
    text-align: center; /* 라벨의 텍스트 정렬 방식 */
    font-weight: 40%; /* 탭 메뉴의 너비 */
    border: 1px solid transparent; /* 라벨의 테두리를 없앰 */
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.notice label:hover {
    background-color: rgb(231, 230, 229); /* 라벨에 마우스를 올리면 글자 색상을 검은색으로 변경 */
    cursor: pointer; /* 커서 모양을 손가락 모양으로 변경 */
}
.notice input:checked + label{
    color: rgb(0, 0, 0); /* 선택된 라벨의 글자 색상을 빨간색으로 변경 */
    border: 1px solid #ddd; /* 선택된 라벨의 테두리를 회색으로 설정 */
    background-color: #eee; /* 선택된 라벨의 배경 색상을 회색으로 설정 */
}






/* #tab1:checked ~ #notice_N,   
#tab2:checked ~ #notice_ask,
#tab3:checked ~ #notice_inquiry { 
    display: block;
} */


.Ask {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.notice {
    display: flex;
    margin-bottom: 10px;
}

.notice label {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 5px;
}
  
.tabcontent {
    display: none;
}
  
.tabcontent.active {
    display: block;
}



/* 온라인 문의 */

#notice_inquiry {
    text-align: left;
    background-color: #eeeeee;
    width: 75%;
    margin-top: 2%;
    height: 5%; /*왜안대..? */
    overflow: hidden;
}

.notice_email input {
    margin-bottom: 3%;
    border-radius: 10px;
    height: 30px;
    width: 90%;
}

.notice_name input {
    margin-bottom: 3%;
    border-radius: 10px;
    height: 30px;
    width: 90%;
}
.notice_number input{
    margin-bottom: 3%;
    border-radius: 10px;
    height: 30px;
    width: 90%;
}
.notice_tittle input{
    margin-bottom: 3%;
    border-radius: 10px;
    height: 30px;
    width: 90%;
}

.notice_qu input{
    height: 150px;
    margin-bottom: 2%;
    border-radius: 10px;
    width: 90%;
}
button:hover{
    background-color: #ffffff;
    cursor: pointer;
}



/***공지사항*******/

.notice-day{
    float: left;
    font: bolder;
}