/* 소스명 : Ask.css */
/* 작성자: 강수진 */
/* 이 페이지 용도 : 공지사항 css페이지 */
/* 생성일자(수정일자) : 
  - 23.10.16: 생성_강수진
  - 231020: 이진경 - 수정 */

.Ask {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.notice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
}

/*위쪽 버튼들 */
.notice input {
  display: none;
}

.notice label {
  width: 33.33%;
  margin: 0 10px;
  padding: 15px 0;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  color: #7b7b7b;
  border-radius: 10px;
  font-size: 1.1rem;
}

.notice label:hover {
  background-color: #D9D9D9;
  cursor: pointer;
}

.notice input:checked+label {
  font-weight: bold;
  color: #fff;
  background-color: #8CBA51;
}


/* #tab1:checked ~ #notice_N,   
#tab2:checked ~ #notice_ask,
#tab3:checked ~ #notice_inquiry { 
  display: block;
} */

/* .notice {
  display: flex;
  margin-bottom: 10px;
} */

/*********** 공지사항 ***********/
/*#notice_N {
  height: 90%;
}

.notice-title,
#notice_ask p {
  font-size: 1.7rem;
  font-weight: bold;
  color: #01352C;
  padding-top: 40px;
}
*/
.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
  font-weight: bold;
}


/*********** 자주묻는 질문 ***********/
/* #notice_ask p {
  font-size: 1.7rem;
  font-weight: bold;
  color: #01352C;
} */


/*********** 온라인 문의 ***********/

#notice_inquiry {
  /* background-color: #F4F4F4; */
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #7b7b7b;
  text-align: left;
  font-size: 0.85rem;
  color: #313131;
  margin-top: 40px;

  width: calc(100% - 20px);
  height: calc(100% - 95px);
  position: relative;
}


#notice_inquiry .form {
  display: contents;
  height: 100%;
}


#notice_inquiry h1 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #01352C;
  margin-bottom: 3%;
  text-align: center;
}

#notice_inquiry div {
  display: flex;
}

#notice_inquiry p {
  width: 18%;
  min-width: 130px;
  font-weight: 800;
}

#notice_inquiry input {
  border: 1px solid #8CBA51;
  border-radius: 5px;
  height: 30px;
  width: 82%;
  margin-bottom: 2%;
  padding-left: 10px;
}

#notice_inquiry .notice_qu input {
  height: 150px;
}

#notice_inquiry input:focus {
  border: 2px solid #397242;
  outline: none;
}

/* 문의하기 버튼 */
.Ask #notice_inquiry .form .notice_btn {
  width: 100%;
  height: calc(100% - (270px + 30%));
  position: relative;
}

.Ask #notice_inquiry .form button {
  width: 100%;
  height: 50px;
  background-color: #8CBA51;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 900;

  position: absolute;
  bottom: 0;
}

.Ask #notice_inquiry button:hover {
  background-color: #397242;
  transition: 0.3s ease-in-out;
}/***공지사항*******/

.notice-day {
  float: left;
  font: bolder;
}
#notice_N{
  width: 100%;
  height: 90%;
  
}
/***********************************************/
#notice_N {
  background-color: #ffffff;
  padding: 20px;
  /* overflow: hidden; */
  /* margin-top: 2%; */
  text-align: left;
  font-size: 0.85rem;
  color: #313131;
  margin-top: 40px;

  width: calc(100% - 20px);
  height: calc(100% - 95px);
  position: relative;
}
.notice-container{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%; 
}
.notice_title{
  width: 100%;
  height: 10%;
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.notice_List{
  float: center;
  width: 100%;
  height: 90%;
  border-top: 2px solid #000;
  list-style: none; 
}
.notice_List_title{
  background-color: #dbffab;
  border-bottom: 1px solid #000;
  height: 60px;
  display: flex;
  font-weight: 600; 
}
.notice_flex-item {
  flex: 1; /* 각 div 요소가 동일한 너비를 가질 수 있도록 설정 */
  text-align: center; /* 내용 가운데 정렬 (선택사항) */
  border-bottom: 1px solid #d4d4d4;
  padding: 15px;
  font-size: 16px;
}
.notice_flex-item:nth-child(2) {
  flex: 3; /* 중간 div 요소에 2의 비율 적용 */
  text-align: left;
  padding-left: 60px;
}
.notice_flex-item:nth-child(3) {
  flex: 1.5; /* 중간 div 요소에 5의 비율 적용 */
}
.notice_List_neyong{
  height:60px;
  display: flex;
  font-weight: 10; 
}
@media (max-width: 1350px) {
  .notice_flex-item:nth-child(3) {
    display: none;
  }
}
@media (max-width: 1200px) {
  .notice_flex-item:nth-child(1) {
    display
    : none;
  }
  .notice_flex-item:nth-child(2) {
    padding-left: 30px;
  }
  .notice_List_title{
    display: none;
  }
}