@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

#calendar_container {
  height: 45%;
  width: 80%;
  margin: 0 auto;
  transition: 0.38s;
}

#calendar_container:hover .todo_checkLists {
  margin-top: 20px;
}

.react-calendar {
  border: 3px solid #A7C957;
  border-radius: 15px;
  overflow: hidden;
  height: 100%;
}

.react-calendar:hover {
  box-shadow: 0 0 20px #A7C957;
  transition: all 0.5s ease-out;
}

/* 연도와 버튼이 들어가 있는 네비게이션바 */
.react-calendar__navigation {
  width: 100%;
  height: 15%;
  background-color: #A7C957;
  display: flex;
  justify-content: space-between
}

/* 네비게이션 화살표 버튼 */
.react-calendar__navigation__arrow {
  flex: 1;
}

.react-calendar__navigation__label {
  flex: 6 !important;
}

/* 2023년 10월 */
.react-calendar__navigation__label__labelText {
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  bottom: 0.5px;
}

.react-calendar__navigation button {
  background: none;
  font-size: 2rem;
  color: #fff;
  transform: translateY(-20%);
}


/* 일자 담고 있는 곳 */
.react-calendar__viewContainer {
  height: 85%;
}

.react-calendar__viewContainer>div {
  height: 100%;
  padding: 2%;
}

/* 달력 컨텐츠 */
.react-calendar__month-view {
  height: 100%;
}

.react-calendar__month-view>div {
  height: 100%;
  padding: 3%;
}

.react-calendar__month-view>div>div {
  height: 100%;
}


.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  border: 0;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

/* 요일 */
.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  color: #386641;
  height: calc(100% / 7);
}

/* 날짜 */
.react-calendar__month-view__days {
  height: calc((100% / 7)* 6);
}

.react-calendar__month-view__days button {
  padding: 0;
}

/* 날짜 스타일링 */
.react-calendar__tile abbr {
  font-weight: 500;
  height: 15%;
  color: #386641;
}


.react-calendar__month-view__weekdays__weekday {
  padding-top: 0;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #386641;
  text-decoration-thickness: 2px;
  text-underline-position: under;
}

.react-calendar__year-view__months {
  height: 100%;
}

.react-calendar__year-view .react-calendar__tile {
  width: 33.33%;
  height: 25%;
  padding: 1rem;
}


.react-calendar__tile {
  padding: 1.5% 0;
  background: none;
  border-radius: 5px;
}


.react-calendar__tile:disabled {
  background-color: #F3F5EF;
}

.react-calendar__tile:enabled:hover {
  background-color: #F3F5EF;
}

/* 현재 활성화 되고 있는 타일 */
.react-calendar__tile--now {
  background: #386641 !important;
}

.react-calendar__tile--now abbr {
  color: white;
}


/* hover하거나 focus했을 때 타일의 변화 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #386641;
  color: #fff;
}

/* 타일을 클릭했을 때 효과 */
.react-calendar__tile--hasActive {
  background: #A7C957;
}

.react-calendar__tile--hasActivee abbr {
  color: #fff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #A7C957;
  color: #fff;
}

.react-calendar__tile--active {
  background: #A7C957;
}

.react-calendar__tile--active abbr {
  color: #fff;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #A7C957;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #F3F5EF;
}

@media screen and (min-width:768px) and (max-width: 1300px) {
  #calendar_container {
    height: calc(100% - 74px);
    width: 45%;
    margin: 0;
    float: left;
    margin: 20px 22px 0 0;
  }
}