.Community_main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* min-height: 700px; */
}


/************* 인기랭크 **************/
.Community_rank {
    height: 35%;
    width: 100%;
    margin-bottom: 2.5%;
    box-shadow: 0 0 20px rgba(1, 53, 44, 0.25);
    border-radius: 15px;
    background: linear-gradient(-45deg, #a7c95784 50%, #F3F5EF 50%);
}

.Community_title {
    width: 30%;
    height: 100%;
    float: left;
    font-size: 1.3rem;
    color: #1f3d25;
    font-weight: bold;
    padding-left: 1.5em;
    position: relative;
}

.Community_title .title_inner p {
    font-size: 0.85rem;
    /* font-weight: 400; */
    line-height: 0.9rem;
}


.Community_rank .Community_popularRank {
    width: 70%;
    height: 100%;
    float: left;
    display: flex;
    padding: 30px 20px;
}

/*인기순위그룹 스타일*/
.Community_Rgroup {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    align-items: start;
    margin: 0 10px;
}

.Community_item {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
    padding: 10px;
    border: 0px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(1, 53, 44, 0.25);
}

.Community_item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0px 0px 7px 5px rgba(239, 255, 20, 0.3);
    outline: 2px solid #FFED8F;
}

.Community_cardimg {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 5px;
}

.Community_Groupname {
    height: 20%;
    padding-top: 4%;
    font-size: 1rem;
    font-weight: 600;
    color: #386641;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* 중간부분 */
.group_middle {
    width: 100%;
    height: 4%;
    margin-bottom: 0.5%;
    display: flex;
}

.group_list_subTitle {
    width: 90%;
    height: 100%;
    color: #386641;
    position: relative;
}

.group_list_subTitle h5 {
    position: absolute;
    bottom: 0;
    padding-left: 10px;
}

/*그룹 생성 버튼*/
.Community_groupbtn {
    width: 10%;
}

.Community_link {
    width: 100%;
    height: 100%;
}

.Community_groupbtn button {
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    background-color: #386641;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    box-shadow: inset 1.5px 1.5px 2px 0px rgba(255, 255, 255, .5);
}

.Community_groupbtn button:hover {
    background-color: #A7C957;
    transition: 0.2s ease-in-out;
    box-shadow: inset 1.5px 1.5px 2px 0px rgba(27, 86, 3, 0.5);
}



/************ 그룹 목록 /*************/

.groupintro {
    width: 100%;
    height: 7%;
    background: linear-gradient(90deg, #386641 50%, rgb(56, 102, 65, 0.6));
    border-radius: 10px;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    margin-bottom: 1%;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
}


/*카테고리*/
.Community_groupcreate button {
    width: 70px;
    margin: 0 5px;
    background-color: rgb(255, 255, 255, 0.8);
    color: #386641;
    border: 0px;
    border-radius: 50px;
    font-weight: 600;
    padding: 1%;
}

.Community_groupcreate button:last-child {
    margin-right: 0;
}

.Community_groupcreate button:hover {
    background-color: #fff;
    transition: 0.2s ease-in-out;
}



/******** 그룹 리스트 스타일 *********/
.Community_GroupList {
    height: 50%;
    border-radius: 10px;
    /* min-height: 300px; */
}


.Community_Grouplists {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95%;
    margin-bottom: 1%;
    overflow: hidden;
}

.Community_gallery {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    padding: 10px;
}

/* 1행의 아이템은 왼쪽에서 오른쪽으로 배치 */
.Community_gallery .Community_Gitem:nth-child(1),
.Community_gallery .Community_Gitem:nth-child(2),
.Community_gallery .Community_Gitem:nth-child(3),
.Community_gallery .Community_Gitem:nth-child(4) {
    grid-row: 1;
}

/* 2행의 아이템은 오른쪽에서 왼쪽으로 배치 */
.Community_gallery .Community_Gitem:nth-child(5),
.Community_gallery .Community_Gitem:nth-child(6),
.Community_gallery .Community_Gitem:nth-child(7),
.Community_gallery .Community_Gitem:nth-child(8) {
    grid-row: 2;
}

.Community_gallery .Community_Gitem:nth-child(9),
.Community_gallery .Community_Gitem:nth-child(10),
.Community_gallery .Community_Gitem:nth-child(11),
.Community_gallery .Community_Gitem:nth-child(12) {
    grid-row: 3;
}


.Community_gallery .Community_Gitem {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #e4e4e4;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    /* transition: 0.2s; */
    padding: 7px;
    width: 100%;
    height: 100%;
}

/*1700*/
@media (max-width: 1700px) {

    .Community_gallery .Community_Gitem:nth-child(1),
    .Community_gallery .Community_Gitem:nth-child(2),
    .Community_gallery .Community_Gitem:nth-child(3) {
        grid-row: 1;
    }

    /* 2행의 아이템은 오른쪽에서 왼쪽으로 배치 */
    .Community_gallery .Community_Gitem:nth-child(4),
    .Community_gallery .Community_Gitem:nth-child(5),
    .Community_gallery .Community_Gitem:nth-child(6) {
        grid-row: 2;
    }

    .Community_gallery .Community_Gitem:nth-child(7),
    .Community_gallery .Community_Gitem:nth-child(8),
    .Community_gallery .Community_Gitem:nth-child(9) {
        grid-row: 3;
    }
}

/*미디어를 이용하여 화면이 1200이하일경우 */
@media (max-width: 1200px) {

    .Community_gallery .Community_Gitem:nth-child(1),
    .Community_gallery .Community_Gitem:nth-child(2) {
        grid-row: 1;
    }

    /* 2행의 아이템은 오른쪽에서 왼쪽으로 배치 */
    .Community_gallery .Community_Gitem:nth-child(3),
    .Community_gallery .Community_Gitem:nth-child(4) {
        grid-row: 2;
    }

    .Community_gallery .Community_Gitem:nth-child(5),
    .Community_gallery .Community_Gitem:nth-child(6) {
        grid-row: 3;
    }
}


.Community_gallery .Community_Gitem:hover {
    transform: translateY(-1%);
    transition: 0.3s;
    box-shadow: 5px 5px 10px rgba(1, 53, 44, 0.25);
}


.Community_Gitem .Community_Gcardimg {
    width: 35%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    float: left;
}



.Community_Gitem .Community_cardcontent {
    width: 65%;
    height: 100%;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 2% 0 0 3%;
    color: #386641;
}

.Community_Gitem .Community_cardcontent h2 {
    height: 20%;
    font-size: 100%;
    font-weight: bold;
}

.Community_Gitem .Community_cardcontent h3 {
    font-size: 75%;
    font-weight: 500;
    height: 60%;
    padding-top: 5%;
}

.Community_Gitem .Community_cardcontent p {
    width: 15%;
    font-size: 10%;
    color: #686868;
    text-align: end;
    height: 20%;
    float: right;
    margin-right: 2%;
}

.Community_Gitem .Community_cardcontent svg {
    width: 10%;
    float: right;
    color: #686868;
    height: 13%;
    min-height: 11px;
}

/*캡션*/
/* .Community_caption {
    position: absolute;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    z-index: 10;
    font-size: 12px;
    padding: 10px;
}

.Community_Gitem:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Community_Gitem:hover .Community_caption {
    opacity: 1;
    transform: translateY(-200px);
    -moz-transform: translateY(-140px);
    -webkit-transform: translateY(-101%);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-500px);
}

.Community_captionname {
    font-size: 1.1rem;
    font-weight: 700;
}

.Community_captionname,
.Community_caption p {
    color: #fff;
    text-align: center;
} */




/*이동 버튼*/
.Community_Grouplistbtn {
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Community_Grouplistbtn button {
    padding: 0 10px;
    background: none;
    cursor: pointer;
    border: none;
    color: #386641;

}

.Community_Grouplistbtn button:focus {
    background: #A7C957;
    border-radius: 10px;
}