/* 소스명 : GroupPage.css 
작성자: 이진경
이 페이지 용도 : 그룹 페이지 CSS
생성일자(수정일자) : 23.10.13  */

#GroupPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Community_wrap {
  width: 100%;
  height: 90%;
}

#GroupPage #frame {
  width: 90%;
  height: 95%;
  background-color: #F3F5EF;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(1, 53, 44, 0.25);
  font-size: 0.9rem;
  color: #386641;
}

/******* 상단 부분 및 참여버튼 *******/
#GroupPage .top {
  width: 100%;
  height: 20%;
  padding-bottom: 20px;
}

#GroupPage .top h2 {
  color: #1f3d25;
  font-size: 1.7rem;
  width: 80%;
  padding-bottom: 8px;
  font-weight: bold;

}

#GroupPage .top #goal {
  width: 180px;
  height: 25px;
  background-color: rgba(167, 201, 87, 0.6);
  border-radius: 15px;
  text-align: center;
  color: #386641;
  font-weight: bold;
  line-height: 25px;
}


#GroupPage .top button {
  float: right;
  width: 20%;
  height: 50%;
  background-color: #A7C957;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 4px
}

#GroupPage .top button:hover {
  background-color: #386641;
  transition: 0.2s ease-in-out;
}


/******* 그룹 목표 및 소개 *******/
#GroupPage .intro {
  height: 30%;
  width: 100%;
}

/* 목표 */
#GroupPage .intro .goal {
  display: flex;
  height: 40px;
  background: #386641;
  color: #fff;
  border: 2px solid #386641;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 7px;
  letter-spacing: 4px
}

#GroupPage .intro #title1 {
  border-right: 1px solid #fff;
  width: 8vw;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 4px
}

#GroupPage .intro .goal .content {
  width: 70vw;
  margin-left: 10px;
  font-weight: 700;
  /* 텍스트 넘칠시 숨김 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 소개글 */
#GroupPage .intro .groupIntro {
  display: flex;
  height: 50%;
  background-color: #fff;
  border: 2px solid #386641;
  border-radius: 10px;
  padding: 7px;
}

#GroupPage .intro #title2 {
  border-right: 1px solid #386641;
  width: 8vw;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 4px
}

#GroupPage .intro .groupIntro .content {
  width: 70vw;
  margin-left: 10px;
  /* 텍스트 넘칠시 스크롤 */
  overflow: auto;
}

#GroupPage .intro .groupIntro .content::-webkit-scrollbar {
  width: 8px;
  background-color: #d6e6c3;
  border-radius: 10px;
}

/* 썸(thumb) 추가 */
#GroupPage .intro .groupIntro .content::-webkit-scrollbar-thumb {
  height: 50%;
  background: #A7C957;
  border-radius: 10px;
}



/******* 댓글 *******/
#GroupPage .comment {
  height: 50%;
  background-color: #fff;
  border: 2px solid #386641;
  border-radius: 10px;
  padding: 7px;
}

/* 초기 화면, 안내 사항 */
#GroupPage .comment .comment-error {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

#GroupPage .comment .comment-error img {
  width: 10%;
}

#GroupPage .comment .comment-error h3 {
  text-align: left;
  line-height: 1.5rem;
}

#GroupPage .comment .comment-error h3 span {
  font-size: 0.8rem;
}

.commentTitle {
  padding: 0 0 7px 7px;
  border-bottom: 1px solid #A7C957;
  font-weight: 700;
  font-size: 1rem;
  height: 10%;
  letter-spacing: 4px
}

/* 댓글 리스트 */
.commentList {
  padding: 10px;
  height: 75%;
  overflow: auto;
}

/* 스크롤바 디자인 */
.commentList::-webkit-scrollbar {
  width: 8px;
  background-color: #d6e6c3;
  border-radius: 10px;
}

.commentList::-webkit-scrollbar-thumb {
  height: 50%;
  background: #A7C957;
  border-radius: 10px;
}

.commentList .commentIndex {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  background-color: rgba(167, 201, 87, 0.15);
  border-radius: 5px;
  min-height: 30px;
  padding: 3px 0;
  font-size: 0.8rem;
}

.commentList .commentIndex h4 {
  width: 80px;
  padding: 0 10px;
  line-height: 30px;
}

.commentList .commentIndex p {
  width: 85%;
  word-break: break-all;
  line-height: 30px;
}

.commentList .commentIndex .delete {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

/* 댓글 작성란 */
.commentInput {
  display: flex;
  border-top: 1px solid #A7C957;
  padding: 10px;
  height: 18%;
}

.commentInput .author {
  width: 20%;
}

.commentInput input {
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #A7C957;
}

.commentInput input:focus {
  border: 2px solid #386641;
  outline: none;
}

.commentInput input:nth-child(1) {
  width: 15%;
  background: rgb(166, 200, 86, 0.8);
  color: #386641;
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px
}

.commentInput input:nth-child(2) {
  width: 75%;
  padding-left: 10px;
}

.commentInput input::placeholder {
  color: #386641;
  font-style: italic;
}

.commentInput button {
  width: 10%;
  height: 100%;
  margin: 0;
  background-color: #A7C957;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

/* error */
.GroupPage-error {
  width: 80%;
  height: 80%;
  background-color: #A7C957;
  box-shadow: 7px 7px 30px #3866416b, inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
  border-radius: 20px;
  color: #fff;
  position: relative;
  text-align: center;
}

.error-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.error-container img {
  width: 40%;
}

.error-container h1 {
  font-size: 1.5em;
}