.group_create {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group_create #frame {
  width: 90%;
  height: 95%;
  background-color: #F3F5EF;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(1, 53, 44, 0.25);

  color: #386641;
}

.group_create h1 {
  text-align: center;
  color: #1f3d25;
  font-size: 1.7rem;
  height: 13%;
  letter-spacing: 2px;
}

/* 그룹 입력 칸 */
.group {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.group p {
  width: 30%;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
}

/*그룹명, 카테고리, 목표*/
.group_name,
.category,
.goal {
  display: flex;
  width: 100%;
  height: 10%;
  padding-bottom: 3%;
}

/* 그룹명 */
.group_name .group_name_check {
  width: 70%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #A7C957;
  color: #386641;
  font-weight: 500;
  overflow: hidden;
  min-height: 30px;

}

.group_name input {
  width: 80%;
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 1rem;
  color: #386641;
}

.group_name input:focus,
.goal input:focus,
.group_int textarea:focus,
.category select:focus {
  border: 2px solid #397242;
  outline: none;
}

.group_name button {
  width: 20%;
  height: 100%;
  border: none;
  background-color: #A7C957;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.group_name button:hover {
  background-color: #386641;
  transition: 0.2s ease-in-out;
}

/*카테고리*/
.category select {
  width: 70%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #A7C957;
  color: #386641;
  padding: 0 10px;
  font-weight: 500;
  min-height: 30px;
  font-size: 1rem;
}

.category select option {
  color: #386641;
}

.category select option:hover,
.category select option:checked {
  background-color: #F3F5EF;
}

/*목표, 그룹 소개 input*/
.goal input,
.group_int textarea {
  width: 70%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #A7C957;
  color: #386641;
  padding: 0 10px;
  font-weight: 500;
  resize: none;
  min-height: 30px;
  font-size: 1rem;
}

/*그룹 소개 */
.group_int {
  display: flex;
  height: 25%;
  padding-bottom: 3%;
}


/*대표이미지*/
.rep_img {
  display: flex;
  height: 25%;
  min-height: 30px;
  position: relative;
}

.file_img {
  width: 20%;
  height: 100%;
  background-color: rgba(167, 201, 87, 0.432);
  border-radius: 5px;
}

.file_img img {
  width: 100%;
  height: 100%;
}

.rep_img label {
  width: 15%;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #A7C957;
  color: #fff;
  text-align: center;
  margin-left: 5%;
  cursor: pointer;
  line-height: 25px;
  position: absolute;
  bottom: 0;
  right: 30%;
}

.rep_img label:hover {
  background-color: #386641;
  transition: 0.2s ease-in-out;
}

.rep_img input {
  display: none;
}

/* 생성 버튼 */
.create {
  height: 7%;
  width: 80%;
  margin: 0 auto;
}

.create button {
  width: 100%;
  height: 100%;
  background-color: #A7C957;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border: none;
}

.create button:hover {
  background-color: #386641;
  transition: 0.2s ease-in-out;
}