#IdPw {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#IdPw .container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.IdPw_left {
  width: 35%;
  height: 70%;
  background-color: #A7C957;
  border-radius: 20px 0 0 20px;
  box-shadow: 10px 10px 30px #3866416b, inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 100;
}


.IdPw_left img {
  width: 90%;
}

.IdPw_left h3 {
  font-size: 1em;
  font-weight: 500;
  padding-top: 5%;
}

#IdPw #frame {
  width: 50%;
  height: 70%;
  background-color: rgba(167, 201, 87, 0.1);
  border-radius: 0 20px 20px 0;
  box-shadow: 10px 10px 50px #3866416b, inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
  font-size: 0.85rem;
  color: #313131;
  position: relative;
}

/* ID, PW 버튼 */
#IdPw .green {
  background-color: #A7C957;
  border-radius: 5px;
  box-shadow: 0 0 5px #38664126;
}

#IdPw #buttons {
  width: 80%;
  height: 70px;
  margin: 20px auto;
  border-radius: 10px;
  background: rgba(167, 201, 87, 0.488);
}

#IdPw #buttons>div {
  width: 49.95%;
  height: 100%;
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 70px;
}

#IdPw #buttons>div:hover {
  background: #386641;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/* ID, PW 작성란 */
#idpw_content {
  height: calc(100% - 110px);
}

#idFind,
#pwFind {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

/* ID, PW 작성란 */
#IdPw #frame input {
  width: 100%;
  height: 15%;
  margin: 2% 0;
  border: 1px solid #A7C957;
  border-radius: 10px;
  padding: 3%;
}

#IdPw #frame input:first-child {
  margin-top: 10%;
}

#IdPw #frame button {
  width: 100%;
  height: 15%;
  border: 1px solid #A7C957;
  border-radius: 10px;
  padding: 3%;
  margin-bottom: 2%;
}

#IdPw #frame input:focus {
  border: 2px solid #386641;
  outline: none;
}

/* ID, PW 찾기 버튼 */
#IdPw #frame button {
  margin-top: 10%;
  background-color: #A7C957;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

#IdPw #frame button:hover {
  background: #386641;
  transition: 0.3s ease-in-out;
}

#idFind>div,
#pwFind>div {
  text-align: center;
  margin-top: 2%;
}

#idFind>div a,
#pwFind>div a {
  font-weight: bold;
}

/**************** 미디어 쿼리 *****************/
@media (max-width: 1200px) {
  .IdPw_left {
    height: 60%;
  }

  .IdPw_left h3 {
    font-size: 0.75em;
  }

  #IdPw #frame {
    width: 80%;
    height: 60%;
  }

  #IdPw #buttons {
    height: 60px;
    margin: 10px auto;
  }

  #IdPw #buttons>div {
    line-height: 60px;
  }

  #idpw_content {
    height: calc(100% - 80px);
  }
}