/* 
-소스명 : main.css
-작성자 : 김장훈
-이 페이지 용도 : 메인페이지 CSS
-생성일자(수정일자) : 231016
--------------------------------------------------------------------------------------------------------------
-로그
231016 김장훈 - 최초작성
231020 이진경 - 수정
231023 이진경 - 수정
*/

/* @font-face {
    font-family: 'SUITE-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
} */

@font-face {
    font-family: 'SUITE-Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.main {
    width: 100%;
    height: 100%;
}

/* 배너 */
.Hello {
    width: 100%;
    height: 40%;
    margin-bottom: 5vh;
    box-sizing: border-box;
    background-color: #386641;
    border-radius: 15px;
    background:
        radial-gradient(ellipse at 20% 20%, #012408 0%, transparent 80%),
        radial-gradient(ellipse at 55% 20%, #7aa712 0%, transparent 70%),
        radial-gradient(ellipse at 100% 20%, #3d54b1 0%, transparent 70%),
        radial-gradient(ellipse at 100% 100%, #3c9f65 0%, transparent 80%),
        radial-gradient(ellipse at 20% 100%, #002407 0%, transparent 90%);
    background-blend-mode: screen;
    display: flex;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
}

.Hello .image {
    width: 40%;
    background-image: url(../../3802284.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40%;
    margin: 1.5%;
    /* animation: up 3s ease-in-out infinite; */
}

@keyframes up {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1)
    }
}

.Hello .title {
    position: relative;
    height: 100%;
    color: #fff;
    width: 58%;
}

.title_inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.Hello .title h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.Hello .title h1 {
    text-shadow: .1em .1em 0 #386641;
    font-size: 2.5em;
    font-family: 'SUITE-Heavy';
}

.Hello .title p {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0.5em;
}

.bt1 {
    margin-top: 1.5em;
}

.bt1 button {
    width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #386641;
    border: 0px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 0.8rem;
}

.bt1 button:hover {
    background-color: rgba(255, 255, 255);
}

/* 인기상승 그룹 */
.rank {
    height: 35%;
    width: 100%;
    margin-bottom: 4vh;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(1, 53, 44, 0.25), inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
    border-radius: 15px;
    background: linear-gradient(-45deg, #a7c95784 50%, #F3F5EF 50%);
}

.rank .title {
    width: 30%;
    height: 100%;
    float: left;
    font-size: 1.3rem;
    color: #386641;
    font-weight: bold;
    padding-left: 1.5em;
    position: relative;
}

.rank .title p {
    font-size: 0.8rem;
    font-weight: 400;
}

.rank .title .bt2 button {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #386641;
    color: #fff;
    margin-top: 15px;
}

.rank .Community_popularRank {
    width: 70%;
    height: 100%;
    float: left;
    display: flex;
    padding: 30px 20px;
}

.etc {
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.Notice,
.Question {
    flex-basis: calc(50% - 25px);
    height: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    font-weight: bold;
    color: #Fff;
    font-size: 0.9rem;
    position: relative;
    padding: 1.5em;
    background: #A7C957;
    z-index: 1;
    cursor: pointer;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
}

.etc_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.etc_content h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.etc_content p {
    font-size: 0.8rem;
    font-weight: 400;
}

.etc_icon1 {
    width: 20%;
    height: 100%;
    background-image: url(../../notice.png);
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: 40%;
    float: right;
}

.etc_icon2 {
    width: 20%;
    height: 100%;
    background-image: url(../../ask.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 20%;
    float: right;
}


/* 마우스 오버 효과 */
.Notice:after,
.Question:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #386641;
    border-radius: 15px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}


.Notice:hover,
.Question:hover {
    color: #fff;
}

.Notice:hover:after,
.Question:hover:after {
    left: 0;
    width: 100%;
}