/* 소스명 : Mypage.css 
작성자: 이진경
이 페이지 용도 : Mypage CSS
생성일자(수정일자) : 23.10.16  */

#Mypage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Mypage #frame {
  width: 80%;
  height: 90%;
  background-color: #F4F4F4;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px #33333367, inset 0 0 5px #33333367;

  font-size: 0.8rem;
  color: #313131;
}

#Mypage h1 {
  text-align: center;
  color: #01352C;
  font-size: 1.7rem;
  height: 15%;
}

#Mypage form {
  width: 80%;
  height: 75%;
  margin: 0 auto;
}

#Mypage form div {
  margin-bottom: 15px;
}

#Mypage form label {
  display: inline-block;
  width: 17%;
  font-weight: 800;
}

#Mypage form input {
  display: inline-block;
  width: 65%;
  height: 30px;
}


#Mypage form .gender input {
  width: 15%;
  height: 20px;
}

#Mypage form button {
  width: 15%;
  height: 25px;
  margin-left: 3%;
  border-radius: 5px;
  border: 1px solid #5c5c5c;
  background-color: #8CBA51;
  color: #fff;
  cursor: pointer;
  font-size: 0.7rem;
}

/* 회원가입 버튼 */
.signbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signbtn button {
  width: 80%;
  height: 50px;
  background-color: #8CBA51;
  border: none;
  border-radius: 25px;
  cursor: pointer;

  color: #fff;
  font-size: 1.1rem;
  font-weight: 900;
  text-align: center;
  line-height: 50px;
}


.signbtn button:hover {
  background-color: #397242;
}