/* 소스명 : Mypage.css 
작성자: 이진경
이 페이지 용도 : Mypage CSS
생성일자 : 23.10.16 
수정일자 : 23.10.21 - 미디어 쿼리  */

#Mypage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Mypage #frame {
  width: 80%;
  height: 90%;
  background-color: rgba(167, 201, 87, 0.1);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px #3866416b, inset 0 0 5px #38664126;

  font-size: 0.85rem;
  color: #386641;
}

#Mypage h1 {
  text-align: center;
  color: #386641;
  font-size: 1.7rem;
  font-weight: bold;
  height: 10%;
}

/* 회원정보 수정 입력란 */
#Mypage form {
  width: 75%;
  height: 80%;
  margin: 0 auto;
  position: relative;
}

#Mypage form div {
  margin-bottom: 10px;
}

#Mypage form label {
  display: inline-block;
  width: 20%;
  font-weight: 800;
}

#Mypage form .input {
  display: inline-block;
  width: 80%;
  height: 30px;
  border: 1px solid #A7C957;
  border-radius: 5px;
  padding-left: 10px;
  color: #386641;
}

#Mypage form input:focus {
  outline: none;
}

/* 성별 라디오 */
#Mypage form .gender input {
  width: 10%;
  height: 20px;
}

[type="radio"],
#Signup form .gender span {
  vertical-align: middle;
}

/* 닉네임*/
#Mypage form .input_check {
  height: 30px;
}

.input_check_btn {
  float: right;
  border: 1px solid #A7C957;
  border-radius: 5px;
  width: 80%;
  height: 30px;
  overflow: hidden;
}

.nick_input {
  border: none;
  height: 100%;
  padding-left: 10px;
  width: 80%;
  border-radius: 5px;
  color: #386641;
}

/* 중복확인 버튼 */
.input_check_btn button {
  width: 20%;
  height: 100%;
  border: none;
  background: #A7C957;
  color: #fff;
}


/* 에러 메세지 */
.error-message {
  color: red;
  text-align: center;
}

/* 수정하기 버튼 */
#Mypage .signbtn {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#Mypage .signbtn button {
  width: 100%;
  height: 50px;
  margin: 40px 0 0 0;
  background-color: #8CBA51;
  border: none;
  border-radius: 25px;
  cursor: pointer;

  color: #fff;
  font-size: 1.1rem;
  font-weight: 900;
  text-align: center;
  line-height: 50px;
}


#Mypage .signbtn button:hover {
  background-color: #397242;
  transition: 0.3s ease-in-out;
}


/* 회원탈퇴 버튼 */
#Mypage .withdrawal {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Mypage .withdrawal>button {
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

/**************** 미디어 쿼리 *****************/

@media (max-width: 1500px) {
  /* #Mypage #frame {
    width: 90%;
  } */

  #Mypage form {
    width: 90%;
  }

  #Mypage h1 {
    font-size: 1.5rem;
  }
}


@media (max-width: 1300px) {

  #Mypage h1 {
    font-size: 1.3rem;
    height: 6%;
  }

  #Mypage form {
    font-size: 0.7rem;
    overflow: hidden;
    height: 90%;
  }

  #Mypage form label {
    display: block;
    min-width: 100px;
  }

  #Mypage form .input,
  .input_check_btn {
    width: 100%;
    height: 25px;
  }

  .input_check_btn button {
    height: 100%;
  }

  #Mypage .signbtn button {
    height: 30px;
    font-size: 0.8rem;
    line-height: 30px;
  }

  #Mypage .withdrawal {
    height: 5%;
  }

  /* 
  #Mypage form label {
    font-size: 0.7rem;
    min-width: 80px;
  }


  #Mypage form input {
    width: 63%;
  }

  #Mypage form button {
    width: 11%;
    font-size: 0.6rem;
  } */
}