/* 소스명 : Mypage.css 
작성자: 이진경
이 페이지 용도 : Mypage CSS
생성일자 : 23.10.16   */

#Mypage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Mypage #frame {
  width: 90%;
  height: 90%;
  background: rgba(167, 201, 87, 0.1);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(1, 53, 44, 0.25), inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
  font-size: 0.85rem;
  color: #386641;
  display: flex;
  overflow: hidden;
}

/* 왼쪽 이미지 삽입부분 */
.Mypage_left {
  background-color: #A7C957;
  box-shadow: 0 0 15px rgba(1, 53, 44, 0.25), inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
  width: 30%;
  padding: 3%;
  text-align: center;
  color: #fff;
}

/* 왼쪽 이미지 */
.Mypage_left .icon {
  width: 100%;
  background-image: url(../../signup.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 60%;
  margin-top: 20%;
}

#Mypage h1 {
  font-size: 2rem;
  font-weight: bold;
}

#Mypage h3 {
  font-weight: 400;
}

/* 회원정보 수정 입력란 */
#Mypage form {
  width: 50%;
  height: 100%;
  padding: 5% 0;
  margin: 0 10%;
  position: relative;
}

#Mypage form>div {
  height: 10%;
  margin-bottom: 2%;
}

#Mypage form label {
  display: block;
  font-weight: 800;
  padding-bottom: 1%;
  height: 40%;
}

#Mypage form .input {
  display: block;
  width: 100%;
  height: 50%;
  border: 1px solid #A7C957;
  border-radius: 5px;
  padding-left: 10px;
  color: #386641;
}

#Mypage form input:focus {
  outline: none;
}

/* 성별 라디오 */
#Mypage form .gender input {
  width: 10%;
  height: 18px;
}

/* 닉네임*/
#Mypage form .input_check {
  border: 1px solid #A7C957;
  border-radius: 5px;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.nick_input {
  border: none;
  height: 100%;
  padding-left: 10px;
  width: 80%;
  border-radius: 5px;
  color: #386641;
}

/* 중복확인 버튼 */
.input_check button {
  width: 20%;
  height: 100%;
  border: none;
  background: #A7C957;
  color: #fff;
}

/* 에러 메세지- 회원가입 공통 */
/* .error-message{} */

/* 수정하기 버튼 */
#Mypage .signbtn {
  display: flex;
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: 7%;
}

/* #Mypage .signbtn button {}
#Mypage .signbtn button:hover{}
회원가입이랑 공통 */

/* 회원탈퇴 버튼 */
#Mypage .withdrawal {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
}

#Mypage .withdrawal>button {
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

/**************** 미디어 쿼리 *****************/

@media (max-width: 1500px) {
  #Mypage #frame {
    width: 95%;
  }

  #Mypage h1 {
    font-size: 1.5rem;
  }

  #Mypage h3 {
    font-size: 0.9rem;
  }
}

@media (max-width: 1250px) {
  #Mypage #frame {
    width: 100%;
  }

  #Mypage h1 {
    font-size: 1.2rem;
  }
}