/* 소스명 : Signup.css
작성자: 이진경
이 페이지 용도 : Join CSS
생성일자(수정일자) : 23.10.16
  */

#Signup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Signup #frame {
  width: 90%;
  height: 90%;
  background-color: rgba(167, 201, 87, 0.1);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(1, 53, 44, 0.25), inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
  font-size: 0.85rem;
  color: #17594A;
  display: flex;
  overflow: hidden;
}

/* 왼쪽 이미지 삽입부분 */
.Signup_left {
  background-color: #A7C957;
  box-shadow: 0 0 15px rgba(1, 53, 44, 0.25), inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
  width: 30%;
  padding: 3%;
  text-align: center;
  color: #fff;
}

/* 왼쪽 이미지 */
.Signup_left .icon {
  width: 100%;
  background-image: url(../../asset/signup.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 60%;
  background-position: 50%;
  margin-top: 20%;
}

#Signup h1 {
  font-size: 2rem;
  font-weight: bold;
}

#Signup h3 {
  font-weight: 400;
  line-height: 1.4rem;
  padding-top: 5%;
}

/* 회원가입 입력란 */
#Signup form {
  width: 50%;
  height: 100%;
  padding: 5% 0;
  margin: 0 10%;
  position: relative;
}

#Signup form>div {
  height: 10%;
  margin-bottom: 2%;
}

#Signup form label {
  display: block;
  font-weight: 800;
  padding-bottom: 1%;
  height: 35%;
  letter-spacing: 2px;
}

#Signup form .input {
  display: block;
  width: 100%;
  height: 50%;
  border: 1px solid #A7C957;
  border-radius: 5px;
  padding-left: 10px;
  color: #17594A;
  font-size: 0.9rem;
}


#frame .Signup_check {
  width: 100%;
  border: 1px solid #A7C957;
  height: 50%;
  border-radius: 5px;
}

/* 중복확인이 있는  div*/
.id_chcek {
  border: none;
  height: 100%;
  padding-left: 10px;
  width: 80%;
  border-radius: 5px;
  color: #17594A;
}

#frame .Signup_check button {
  width: 20%;
  height: 100%;
  border: none;
  background: #A7C957;
  color: #fff;
}


#Signup form input:focus {
  outline: none;
}


/* 성별 라디오 / 마이페이지와 공통 */
.gender_radio {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#Signup form .gender input {
  width: 10%;
  height: 18px;
}

[type="radio"],
#Signup form .gender input {
  accent-color: #17594A;
  padding-right: 10%;
}

/* 이용약관 */
#Signup form .user-term label {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

#Signup form .user-term input {
  width: 10%;
  height: 20px;
}

#Signup form .user-term input {
  accent-color: #17594A;
}


/* 에러 메세지 / 마이페이지와 공통 */
.error-message {
  color: red;
  text-align: center;
}


/* 회원가입 버튼 */
#Signup .signbtn {
  display: flex;
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: 7%;
}

/* 회원가입 버튼 / 마이페이지와 공통 */
.signbtn button {
  width: 100%;
  height: 100%;
  background-color: #A7C957;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

.signbtn button:hover {
  background-color: #386641;
  transition: 0.3s ease-in-out;
}


/************ 미디어 쿼리 ***********/
@media (max-width: 1500px) {
  #Signup #frame {
    width: 95%;
  }

  #Signup h1 {
    font-size: 1.8rem;
  }

  #Signup h3 {
    font-size: 0.9rem;
  }
}

@media (max-width: 1250px) {
  #Signup #frame {
    width: 100%;
  }

  #Signup h1 {
    font-size: 1.4rem;
  }

  #Mypage h3 {
    font-size: 0.7rem;
  }
}