/* 가운데 화면 컨텐츠 */
#todo_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* 위젯들의 제목 */
.todo_title {
  margin-bottom: 15px;
  text-align: center;
  color: #386641;
  height: 10%;
}

.todo_title h2 {
  font-size: 1.7rem;
}

.todo_title p {
  font-size: 0.8rem;
}

button {
  cursor: pointer;
}

/* ********  좌측 컨텐츠 ************** */
#todo_container #todo_left_contents {
  box-shadow: 0 0 20px rgba(1, 53, 44, 0.25);
  border-radius: 15px;
  float: left;
  padding: 25px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}



/* 추가될 to-do list가 들어갈 공간 */
.todo_checkLists {
  width: 90%;
  height: 40%;
  overflow-y: scroll;
  margin: 10px auto;
  /* 넘칠 경우 스크롤*/
  padding: 0px 10px 0 15px;
}

/*  to-do list의 스크롤바 스타일 */
.todo_checkLists::-webkit-scrollbar {
  width: 8px;
  /* 세로축 스크롤바 폭 너비 */
}

.todo_checkLists::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border: none;
  /* 스크롤바 막대 테두리 설정  */
  border-radius: 10px 10px;
}


/* 체크리스트 작성공간 */
.todo_checkList {
  font-size: 1rem;
  /* border: 1px solid #7B7B7B; */
  background: #F3F5EF;
  border-radius: 10px;
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  position: relative;

}


.todo_checked,
.todo_delete {
  width: 20px;
  height: 20px;
  border: none;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
}

/* to do list 완료 버튼 */
.todo_checked {
  background: #a2a1a1;
  top: 50%;
  left: 10px;
}

/* to do list 삭제 버튼 */
.todo_delete {
  background: #f84949;
  top: 50%;
  right: 10px;
}


/* to do list 추가되는 내용 */
.todo_checkList p {
  font-size: 16px;
  font-weight: 600;
  width: calc(100% - 80px);
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  color: #386641;

}

.todo_checkList .done {
  text-decoration: line-through;
  color: #b8b8b8;
}

/* to do list 항목 추가 */
.todo_addList {
  border: 1px solid #A7C957;
  border-radius: 15px;
  width: 100%;
  height: 10%;
  margin-top: auto;
  position: relative;
  background-color: #F3F5EF;
  overflow: hidden;
}

/* to-do 작성공간 */
.todo_todoAdd {
  font-size: 18px;
  width: 85%;
  height: 100%;
  border: none;
  padding: 0 15px;
  background-color: #F4F8EA;
  color: #386641;
}

.todo_todoAdd:focus {
  outline: none;
}

.todo_todoAdd::placeholder {
  color: #386641;
  font-style: italic;
}

/* to-do 작성완료 버튼 */
.todo_addList .todo_save {
  font-size: 35px;
  background-color: inherit;
  border: none;
  width: 15%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #386641;
}


/* ********  우측 컨텐츠 ************** */
#todo_container #todo_right_contents {
  float: left;
  position: relative;
  flex: 1;
  width: 50%;
  margin-left: 20px;

}

/* ********  목표 설정  ************** */
#todo_container #todo_goal {
  background-color: #F4F8EA;
  height: 50%;
  border-radius: 15px;
  padding: 30px;
}

.todo_goal {
  height: 100%;
  position: relative;
}

.todo_goal .todo_title {
  height: 30%;
}

#todo_data_container {
  width: 80%;
  height: 50%;
  display: flex;
  margin: 0 auto;
}

/* 목표설정 화면 작아질때 스크롤 */
#todo_data_container::-webkit-scrollbar {
  width: 12px;
}

#todo_data_container::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  /* 스크롤바 막대 색상 */
  border: none;
  /* 스크롤바 막대 테두리 설정  */
  border-radius: 12px 12px 12px 12px;
}


/* 몸무게, 운동, 식단 위젯 */
.todo_health {
  border: 2px solid #386641;
  background-color: #fff;
  border-radius: 15px;
  width: 30%;
  height: 100%;
  margin-left: 5%;
  /* overflow: hidden; */
}

.todo_health:first-child {
  margin-left: 0;
}

/* 위젯 안의 콘텐츠 */
/* leftSide: 위젯안의 아이콘과 옆의 타이틀을 감싸고 있는 영역  */
/* rightSide: 위젯안의 데이터와 단위 감싸고 있는 영역 설정 */

.todo_data_leftSide {
  height: 60%;
  background-color: #386641;
  text-align: center;
  border-radius: 11px;
}

/* 아이콘 */
.todo_icon {
  color: #fff;
  font-size: 3rem;
}

/* 체중, 운동, 식단이 적힌 div */
.todo_data_leftSide div:last-child {
  font-size: 0.8rem;
  color: rgb(255, 255, 255, 0.8);
  line-height: 0.8rem;
}

.todo_data_rightSide {
  height: 40%;
}

/* input */
.todo_data_rightSide .todo_data_record {
  border: none;
  width: 100%;
  height: 75%;
  color: #386641;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1%;
}

.todo_data_record:focus {
  outline: none;
}

/* 단위 kg, kcal */
.todo_data_rightSide .todo_unit {
  color: #386641;
  font-weight: bold;
  font-size: 1rem;
  line-height: 0.1rem;
  text-align: center;
  height: 20%;
}

/* 완료 버튼 */
.todo_complete {
  width: 80%;
  height: 10%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  background: #386641;
  margin: 0 10%;
}

.todo_complete button {
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  width: 100%;
  text-align: center;
}

.todo_complete:hover {
  background: #A7C957;
  transition: 0.3s ease-in-out;
}


/* ********  나의 그룹 ************** */
#todo_container #todo_my_group {
  background: #F4F8EA;
  width: 100%;
  height: 45%;
  position: absolute;
  bottom: 0;
  border-radius: 15px;
  padding: 30px;
}

.todo_my_group {
  height: 100%;
  width: 100%;
}

.todo_my_group .todo_title {
  height: 20%;
}

/* 버튼 포함 나의 그룹 슬라이더 영역 */
.todo_slider_container {
  height: 70%;
  margin-top: 10%;
}


/* 나의 그룹 컨텐츠 들어가 있는 부분 */
.slick-slider {
  /* width: 80%; */
}

/* 슬라이드 컨텐츠를 담고있는 slick-slider 컴포넌트 */
.slick-slide div,
.slick-list,
.slick-track {
  height: 100%;
}

/* 그룹 관련 데이터 */
.todo_group_content {
  width: 100%;
  height: 100%;
}

/* 사진 */
.todo_group_content1 {
  width: 35%;
  height: 100%;
  margin-right: 5%;
  float: left;

}

.todo_group_data {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  float: left;
}

/* 내용 */
.todo_group_content2 {
  width: 60%;
  height: 100%;
  float: left;
  padding-top: 8%;
}

.todo_group_data_name {
  font-size: 1.1rem;
  font-weight: bold;
  color: #386641;
}

.todo_group_data_goal {
  font-size: 0.8rem;
  font-weight: 500;
  color: #555;
}

.todo_group_content2 button {
  background: #A7C957;
  color: #fff;
  background-color: #fff;
  border: 1px solid #A7C957;
  color: #A7C957;
  width: 50%;
  border-radius: 50px;
  margin-top: 10%;
}

.todo_group_content2 button:hover {
  background: #A7C957;
  color: #fff;
  transition: 0.3s ease-in-out;
}

/* 그룹명, 그룹 카테고리 데이터를 넣는 곳 */
.todo_title_data,
.todo_category_data {
  height: 25%;
}

/* 그룹 목표 데이터를 넣는 곳 */
.todo_goal_data {
  height: 40%;
}




/* 페이지 */
.todo_page_count {
  font-size: 0.8rem;
  color: #386641;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.todo_prevbtn,
.todo_nextbtn {
  transform: translateY(-50%);
  height: 40%;
  font-size: 40px;
  border: none;
  color: #386641;
  background: none;
}

.todo_prevbtn {
  position: absolute;
  top: 50%;
  left: -12%;
}

.todo_nextbtn {
  position: absolute;
  top: 50%;
  right: -12%;
}


/* 그룹 데이터를 담고 있는 것 */
.todo_group_content {
  overflow-y: scroll;
}

.todo_group_content::-webkit-scrollbar {
  width: 12px;
}

.todo_group_content::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  /* 스크롤바 막대 색상 */
  border: none;
  /* 스크롤바 막대 테두리 설정  */
  border-radius: 12px 12px 12px 12px;
}



/* 미디어 쿼리 */
@media screen and (max-width: 1430px) {

  /**************** 목표설정 ***********************/
  /* 목표설정의 아이콘과 타이틀을 감싸고 있는 영역 */
  /* 패딩값 변경 */
  .todo_health {
    padding: 5px;
  }

  /* kg, kcal 글씨 크기 조정 */

  .todo_data_rightSide .todo_unit {
    font-size: 17px;
  }

  /* 목표설정의 왼쪽과 오른쪽 영역의 float 값 삭제하여 줄바꿈 */
  .todo_data_leftSide,
  .todo_data_rightSide {
    float: none;
    width: 100%;
    height: 50%;
  }

  /* 데이터와 제목간의 간격 설정 */
  .todo_data_leftSide {
    margin-bottom: 10px;
    margin-left: 0;
  }

  /* 운동, 식단, 체중 글씨 */
  .todo_data_leftSide div:last-child {
    padding-left: 0;
    /* 아이콘이 삭제되므로 패딩값 삭제*/
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  /* 데이터 들어가는 곳  */
  .todo_data_rightSide {
    bottom: 10px;
    left: 25%;
    width: 60%;
  }

  /* input의 크기 조정 */
  .todo_data_rightSide .todo_data_record {
    font-size: 15px;
  }

  /* 아이콘 삭제 */
  .todo_icon {
    display: none;
  }
}

@media screen and (max-width: 1440px) {

  /* group title과 data간의 줄바꿈 위한 조정 */
  .todo_group_title {
    width: 100%;
    margin-bottom: 10px;
    font-size: 23px;
  }

  /* 그룹명, 카테고리, 목표 간의 수직간격 설정 */
  .todo_group_contents:nth-child(2) {
    margin: 20px 0;
  }

  /* group title과 data간의 줄바꿈 위한 조정 */
  .todo_data {
    width: 100%;
  }
}