/*
-소스명 : Goal_Circle.css
-작성자 : 김장훈
-이 페이지 용도 : 페이지 우측 원형 시각화, Goal_Circle.css
-생성일자(수정일자) : 231011 최초 HTML로 생성, 231013 컴포넌트 완료
--------------------------------------------------------------------------------------------------------------
-로그
231013 김장훈 - 차후 DB연결 시 개선 예정.
231017 김장훈 - 입력창 및 입력버튼을 통한 시각화 변화하도록 수정. UI다듬기 등 추가작업 필요
231018 김장훈 - 입력버튼 삭제(input 박스에 입력되면 시각화 바로 변화되도록 수정), UI 다듬기, 차후 Todo 페이지에서 최대값 불러오기 추가예정 
231020 이진경 - 비율 수정
--------------------------------------------------------------------------------------------------------------
*참고 사이트
1. https://medium.com/@pppped/how-to-code-a-responsive-circular-percentage-chart-with-svg-and-css-3632f8cd7705 = 개념
2. https://codepen.io/sergiopedercini/pen/jmKdbj = 여기 코드 기반으로 시작함.
3. https://blog.naver.com/rdh6327/222587794846 = 참고용
*/

.flex-wrapper {
  position: relative;
  height: 100%;
  /* left:10px; */
}

.flex-wrapper .title {
  height: 16%;
  font-weight: bold;
  font-size: 1.1rem;
  color: #386641;
  padding: 15px 0 0 15px;
  margin-bottom: 15px;
}



.single-chart {
  position: absolute;
  left: 50px;
  width: 160px;
}

.single-chart1 {
  position: absolute;
  left: 50px;
  width: 160px;
  transform: scale(0.76);
}

.single-chart2 {
  position: absolute;
  left: 50px;
  width: 160px;
  transform: scale(0.55);
}

.circular-chart,
.circular-chart1,
.circular-chart2 {
  width: 100%;
  height: 100%;
}

.circle,
.circle1,
.circle2 {
  fill: none;
  stroke-linecap: round;
  stroke-width: 10%;
  transition: 3s ease-in-out;

}

.circle2 {
  stroke-width: 13%;
}

.circular-chart.orange .circle {
  stroke: #81ff38;
}

.circular-chart1.green .circle1 {
  stroke: #24f0ff;
}

.circular-chart2.blue .circle2 {
  stroke: #ff3da8;
}

.inputbox {
  position: absolute;
  flex-direction: row;
  display: flex;
  bottom: 0;
  padding: 15px;
}

.inputbox .input_inner {
  width: 70px;
  height: 75px;
  border: 2px solid #A7C957;
  border-radius: 15px;
  margin-right: 10px;
  overflow: hidden;
  color: #A7C957;
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  line-height: 10px;
}

.inputbox .input_inner:last-child {
  margin: 0;
}


.input_title {
  width: 100%;
  height: 25px;
  background: #A7C957;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 25px;
}



.inputbox1,
.inputbox2,
.inputbox3 {
  width: 100%;
  font-weight: bold;
  text-align: center;
  border: none;
  font-size: 1.2rem;
  margin-top: 2px;
}

.inputbox1 {
  color: #3a9e26;
}

.inputbox2 {
  color: #1a90a6;
}

.inputbox3 {
  color: #ad115c;
}

.inputbox1:focus,
.inputbox2:focus,
.inputbox3:focus {
  outline: none;
}