/*
-소스명 : Goal_Circle.css
-작성자 : 김장훈
-이 페이지 용도 : 페이지 우측 원형 시각화, Goal_Circle.css
-생성일자(수정일자) : 231011 최초 HTML로 생성, 231013 컴포넌트 완료
--------------------------------------------------------------------------------------------------------------
-로그
231013 김장훈 - 차후 DB연결 시 개선 예정.
231017 김장훈 - 입력창 및 입력버튼을 통한 시각화 변화하도록 수정. UI다듬기 등 추가작업 필요
231018 김장훈 - 입력버튼 삭제(input 박스에 입력되면 시각화 바로 변화되도록 수정), UI 다듬기, 차후 Todo 페이지에서 최대값 불러오기 추가예정 
231020 이진경 - 비율 수정
--------------------------------------------------------------------------------------------------------------
*참고 사이트
1. https://medium.com/@pppped/how-to-code-a-responsive-circular-percentage-chart-with-svg-and-css-3632f8cd7705 = 개념
2. https://codepen.io/sergiopedercini/pen/jmKdbj = 여기 코드 기반으로 시작함.
3. https://blog.naver.com/rdh6327/222587794846 = 참고용
*/

.flex-wrapper {
  position: relative;
  height: 100%;
  /* left:10px; */
}

.flex-wrapper .title {
  height: 16%;
  font-weight: bold;
  font-size: 1rem;
  color: #01352C;
  padding: 15px 0 10px 15px;
}



.single-chart {
  position: absolute;
  left: 37px;
  width: 180px;
  transform: scale(0.55);
}

.single-chart1 {
  position: absolute;
  left: 37px;
  width: 180px;
  transform: scale(0.76);
}

.single-chart2 {
  position: absolute;
  left: 37px;
  width: 180px;
}

.circular-chart,
.circular-chart1,
.circular-chart2 {
  width: 100%;
  height: 100%;
}

.circle,
.circle1,
.circle2 {
  fill: none;
  stroke-linecap: round;
  stroke-width: 10%;
  transition: 3s ease-in-out;

}

.circle {
  stroke-width: 13%;
}

/* @keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
} */

.circular-chart.orange .circle {
  stroke: #81ff38;
}

.circular-chart1.green .circle1 {
  stroke: #24f0ff;
}

.circular-chart2.blue .circle2 {
  stroke: #ff3da8;
}

.inputbox {
  position: absolute;
  flex-direction: column;
  display: flex;
  bottom: 15px;
  left: 44px;
}

.inputbox div {
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 3px;
}

.inputbox1 {
  width: 100px;
  border-radius: 15px;
  color: #3a9e26;
  border: 2px solid #3a9e26;
  font-weight: bold;
  text-align: center;
}

.inputbox2 {
  width: 100px;
  border-radius: 15px;
  color: #1a90a6;
  border: 2px solid #1a90a6;
  font-weight: bold;
  text-align: center;
}

.inputbox3 {
  width: 100px;
  border-radius: 15px;
  color: #ad115c;
  border: 2px solid #ad115c;
  font-weight: bold;
  text-align: center;
}

.inputbox1:focus,
.inputbox2:focus,
.inputbox3:focus {
  border-color: #ffeb0d;
  outline: none;
}