/*  import 눈누 fonts */
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Heavy';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SUITE-Regular';
  text-decoration: none;
  list-style: none;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  min-width: 1024px;
  min-height: 700px;
}

/* 큰 네모 */
.wrap {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(8, 28, 21, 0.25);
  position: relative;
  overflow: hidden;

  width: 90vw;
  height: 90vh;
  min-width: 1024px;
  min-height: 700px;
  max-width: 1600px;
  max-height: 900px;

}

/************* SideMenu 왼쪽 부분 *************/
#navigation {
  height: 100%;
  width: 80px;
  background: #A7C957;
  padding: 0 15px;
  transition: all 0.5s ease;
  float: left;
}

/* 로고 */
.logo {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin: 25px 0 30px;
}

.logo img {
  width: 42px;
  margin: 3px 0 0 2px;
}



/* 네비게이션 리스트 */
.nav-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-list svg {
  color: #fff;
  height: 25px;
  min-width: 50px;
  font-size: 30px;
  text-align: center;
  line-height: 25px;
}

.nav-list li {
  position: relative;
  margin: 1em 0;
}

.nav-list li a {
  display: flex;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.selected {
  background-color: white;
  border-radius: 10px;
}

.selected svg {
  color: #8CBA51;
}


/* 로그아웃 */
#navigation .logout {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}

#navigation .logout svg {
  color: #fff;
  height: 25px;
  min-width: 50px;
  font-size: 30px;
  text-align: center;
  line-height: 25px;

}

/************* SideMenu 끝 *************/



/************* PageContent 중간부분 *************/
#PageContent {
  width: calc(100% - 400px);
  height: 100%;
  float: left;
  padding: 50px;
  box-sizing: border-box;
}


/************* PageContent 끝 *************/



/************* SideContent 오른쪽부분 *************/
#SideContent {
  background-color: #F3F5EF;
  width: 320px;
  height: 100%;
  float: left;
}

.right-sidebar {
  padding: 30px;
  height: 100%;
}

/******* 데일리 상태 박스 *******/
#daily-box {
  height: 400px;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(8, 28, 21, 0.25);
  border-radius: 15px;
}

/******* 로그인 디자인 (23.10.18_정은정, 이진경(수정: 로고 추가, 높이 조절) ) *******/
.Loginbox {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.LoginTitle {
  text-align: center;
}

.LoginTitle h1 {
  height: 50px;
  line-height: 50px;
  color: #1f3d25;
  font-size: 1.7rem;
  -webkit-text-stroke: 0.6px #1f3d25;
  margin-top: 30px;
}

.LoginTitle h5 {
  width: 100%;
  height: 80px;
  color: #828683;
}

.LoginID,
.LoginPW {
  width: 220px;
  display: flex;
  background-color: #F3F5EF;
  border-radius: 15px;
  margin-bottom: 10px;
  overflow: hidden;
}

.LoginIcon {
  width: 40px;
  height: 30px;
  color: #386641;
  line-height: 30px;
  text-align: center;
}

.Logininputid,
.Logininputpassword {
  width: 180px;
  height: 30px;
  background-color: #F3F5EF;
  border: none;
  font-size: 16px;
  color: #386641;
}

.Logininputid:focus,
.Logininputpassword:focus {
  /* border: 2px solid #A7C957; */
  outline: none;
}

/* .LoginCheckbox {
  color: #386641;
  font-size: 12px;
  float: right;
  margin-bottom: 20px;
}

.LoginCheckbox input {
  margin-right: 5px;
  accent-color: #A7C957;
} */

.Loginbtn {
  width: 220px;
  height: 40px;
  border-radius: 20px;
  background: #386641;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.Loginbtn:hover {
  background-color: #A7C957;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.LoginSns {
  width: 220px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #A7C957;
  color: #A7C957;
  line-height: 30px;
  text-align: center;
  display: flex;
  margin-top: 10px;
  overflow: hidden;
}

.LoginSns p:first-child {
  width: 50%;
  border-right: 1px solid #A7C957;
  font-size: 0.8em;
  font-weight: 600;
  background: #A7C957;
  color: #fff;
}

.LoginSns p {
  width: 16%;
  cursor: pointer;

}

.LoginFind {
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.LoginFind button {
  background: none;
  font-size: 0.75rem;
}

.LoginbtnLink {
  text-decoration: none;
  color: inherit;
  padding-right: 5px;
}

.LoginIdPwFind {
  height: 20px;
  border: none;
  color: #386641;
}

.Loginsingnup {
  border: none;
  color: #386641;
  font-weight: 600;
  padding-left: 5px;
}

/******* 로그인 끝 *******/




/******* 뉴스 *******/
#news {
  height: calc(100% - 500px);
  min-height: 130px;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(8, 28, 21, 0.25);
  margin-top: 20px;
  border-radius: 15px;
}

/* 뉴스 CSS */
.news-container {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}

.news-title {
  font-size: 20px;
  margin: 10px 0;
  color: #386641;
  height: 15%;
}

.news-list {
  list-style: none;
  padding: 0;
  font-size: 13px;
  height: 85%;
  overflow: auto;
}

.news-list::-webkit-scrollbar {
  width: 0;
}

.news-item {
  margin-bottom: 5px;
  background-color: #F3F5EF;
  border-radius: 10px;
  padding: 5px;

}

.news-link {
  text-decoration: none;
  color: #397242;
  font-weight: 600;
  transition: color 0.3s;
}

.news-link .news-item a:active {
  color: #0056b3;
}



/* footer */
#SideContent footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #7b7b7b;
  padding: 15px 30px 30px;
  font-size: 12px;
  height: 80px;
}

/************* PageContent 끝 *************/