/* 소스명 : App.css
작성자: 이진경
이 페이지 용도 : 기본틀 css
생성일자(수정일자) : 23.10.13
수정일자 : 23.10.16 (로고수정) 
수정일자 : 23.10.18 (로그인 추가(정은정), 수정(이진경))
수정일자 : 231023 색감 및 로그인 부분 수정(이진경) */

/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  text-decoration: none;
  list-style: none;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  min-width: 1024px;
  min-height: 700px;
}

/* 큰 네모 */
.wrap {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(8, 28, 21, 0.25);
  position: relative;
  overflow: hidden;

  width: 90vw;
  height: 90vh;
  min-width: 1024px;
  min-height: 700px;
  max-width: 1600px;
  max-height: 900px;
}

/************* SideMenu 왼쪽 부분 *************/
#navigation {
  height: 100%;
  width: 80px;
  background: #A7C957;
  padding: 0 15px;
  transition: all 0.5s ease;
  float: left;
}

/* 로고 */
.logo {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin: 25px 0 30px;
}

.logo img {
  width: 42px;
  margin: 3px 0 0 2px;
}



/* 네비게이션 리스트 */
.nav-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-list svg {
  color: #fff;
  height: 25px;
  min-width: 50px;
  font-size: 30px;
  text-align: center;
  line-height: 25px;
}

.nav-list li {
  position: relative;
  margin: 1em 0;
}

.nav-list li a {
  display: flex;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.nav-list li a:hover,
.nav-list li a:focus {
  background: #FFF;
}

.nav-list li a:hover svg,
.nav-list li a:focus svg {
  color: #8CBA51;
}

/* 로그아웃 */
#navigation .logout {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}

#navigation .logout svg {
  color: #fff;
  height: 25px;
  min-width: 50px;
  font-size: 30px;
  text-align: center;
  line-height: 25px;

}

/************* SideMenu 끝 *************/



/************* PageContent 중간부분 *************/
#PageContent {
  width: calc(100% - 400px);
  height: 100%;
  float: left;
  padding: 50px;
}


/************* PageContent 끝 *************/



/************* SideContent 오른쪽부분 *************/
#SideContent {
  background-color: #F3F5EF;
  width: 320px;
  height: 100%;
  float: left;
}

.right-sidebar {
  margin: 30px;
}

/******* 데일리 상태 박스 *******/
#daily-box {
  height: 350px;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(8, 28, 21, 0.25);
  border-radius: 15px;
}

/******* 로그인 디자인 (23.10.18_정은정, 이진경(수정: 로고 추가, 높이 조절) ) *******/
.Loginbox {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.LoginTitle h1 {
  color: #386641;
  font-size: 1.7rem;
  text-align: center;
  height: 120px;
  line-height: 120px;
}

.LoginIdPw {
  width: 220px;
}

.Logininputid,
.Logininputpassword {
  width: 220px;
  height: 30px;
  background-color: #F3F5EF;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  padding-left: 10px;
  color: #386641;
  margin-bottom: 10px;
}

.Logininputid:focus,
.Logininputpassword:focus {
  border: 2px solid #A7C957;
  outline: none;
}

.LoginCheckbox {
  color: #386641;
  font-size: 12px;
  float: right;
  margin-bottom: 20px;
}

.LoginCheckbox input {
  margin-right: 5px;
  accent-color: #A7C957;
}

.Loginbtn {
  width: 220px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #A7C957;
  color: #A7C957;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.Loginbtn:hover {
  background-color: #A7C957;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.LoginFind {
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.LoginFind button {
  background: none;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 0.75rem;
}

.LoginbtnLink {
  text-decoration: none;
  /* 밑줄 제거 */
  color: inherit;
}

.LoginIdPwFind {
  height: 20px;
  border-left: none;
  border-top: none;
  border-right: 1px solid #386641;
  border-bottom: none;
  color: #386641;
}

.Loginsingnup {
  border: none;
  color: #386641;
  font-weight: 600;
}

/******* 로그인 끝 *******/




/******* 뉴스 *******/
#news {
  height: 200px;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(8, 28, 21, 0.25);
  margin-top: 20px;
  border-radius: 15px;
}

/* 뉴스 CSS */
/* 2023.10.16 / 작성자: 강수진, 이진경(수정) */
.news-container {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 10px;
  overflow: auto;
}

.news-container::-webkit-scrollbar {
  width: 0;
}

.news-title {
  font-size: 20px;
  margin: 10px 0;
  color: #386641;
}

.news-list {
  list-style: none;
  padding: 0;
  font-size: 13px;
  height: 80%;
}

.news-item {
  margin-bottom: 5px;
  background-color: #F3F5EF;
  border-radius: 10px;
  padding: 5px;

}

.news-link {
  text-decoration: none;
  color: #397242;
  font-weight: 600;
  transition: color 0.3s;
}

.news-link .news-item a:active {
  color: #0056b3;
}



/* footer */
#SideContent footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #7b7b7b;
  padding: 15px 30px 30px;
  font-size: 12px;
}

/************* PageContent 끝 *************/