.main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-height: 700px;
}

/*카테고리*/
.menu {
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    min-height: 25px;

}

button {
    width: 100px;
    height: 30px;
    margin: 10px;
    min-height: 40px;
    background-color: #D9D9D9;
    border: 0px;
    border-radius: 50px;
    font-size: 14px;
}

/*그룹 생성*/
.groupcreate {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

}

.groupbtn {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.groupbtn button {
    width: 150px;
    height: 55px;
    font-size: 20px;
    background-color: #8CBA51;
    text-decoration: none;
    /* 밑줄 제거 */
    color: #ffffff;
    border-radius: 15 px;
}

.link {
    text-decoration: none;
    /* 밑줄 제거 */
    color: inherit;
}

/*인기랭크*/
.rank {
    height: 35%;
    width: 100%;
    background: #ffffff;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #397242;
    border-radius: 15px;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.3);

}

.title {
    width: 100%;
    height: 20%;
    font-size: 26px;
    color: #01352C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popularRank {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*인기순위그룹 스타일*/
.Rgroup {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    align-items: start;
    margin: 13px 10px 10px 10px;
}

.item {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #e4e4e4;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
    padding: 5px;
}

.item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardimg {
    display: block;
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.Groupname {
    font-size: 1.7vh;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/*그룹 목록*/
.GroupList {
    width: 100%;
    height: 50%;
    background: #aa629b;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #397242;
    border-radius: 15px;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.3);
}

/*그룹 리스트 스타일*/
.Grouplists {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 93%;
    background: #dfe680;
    margin-bottom: 10px;
}

.img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.gallery {
    position: relative;
    left: calc(-1 * var(--adjust-size));
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 100vw;
    padding: 20px;
    -webkit-perspective: 0;
    perspective: 0;
    box-sizing: border-box;
}

#gallery figure {
    position: relative;
    display: inline-block;
    margin: var(--adjust-size);
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: auto;
    text-align: center;
    background-color: ghostwhite;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    transform-origin: center 0.22rem;
    will-change: transform;
    break-inside: avoid;
    overflow: hidden;
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure img {
    aspect-ratio: 1 /1;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
    z-index: 1;
}

figure figcaption {
    font-size: 14px;
    font-weight: 400;
    z-index: 1;
}


.groupList .caption {
    position: absolute;
    top: 200px;
    width: 92%;
    /*해당 크기 값은 본 코드에서 크기가 바뀔수 있다.*/
    height: 79%;
    margin: 8px 0px 0px;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    z-index: 10;
}

.groupList:hover .caption {
    opacity: 1;
    transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
}

.groupList .caption #name {
    font-size: 20px;
}

.groupList .caption #name,
.groupList .caption p {
    color: #fff;
    text-align: center;
}

.Grouplistbtn {
    width: 100%;
    height: 5%;
    background: #3cbe47;
}